doctype html
html
  head
    title Ejercicio con Pug
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  body
    var pageTitle = "Fluffy"
    nav
      ol
        li 1
        li 2
        li 3
    div.espacioGris
  section
    h1 Soy un título
    p Soy un parrafito
    spam hola
    p.gatito Primer parrafo
    hola mundo
    p#gato Segundo parrafo
    img(src="assets/ciudad.jpg")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
